@if(spinner()){
    <div class="p-5 flex justify-center w-full h-full items-center">
      <app-spinner></app-spinner>
    </div>
  }@else{
      <div class="p-5">
        <div class="flex flex-col h-full w-full">
          <h3 class="text-lg font-bold text-[#122B36] text-center">
            ¿Olvidaste tu contraseña?
          </h3>
          <h4 class="text-[#122B36] text-base font-medium text-center">
            Te ayudaremos a recuperarla
          </h4>
        </div>
        <div class="mt-5">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="w-full">
              <mat-form-field class="w-full">
                <mat-label>Correo eléctronico</mat-label>
                <input
                  matInput
                  placeholder="email@example.com"
                  formControlName="email"
                  (blur)="updateErrorMessage()"
                  required="false"
                />
                @if (form.get('email')?.invalid) {
                <mat-error>{{errorMessage()}}</mat-error>
                }
              </mat-form-field>
            </div>
      
            <div class="flex gap-5 mt-5">
              <div class="w-[100%] h-[56px]">
                <app-button
                  (click)="close()"
                  color="accent"
                  name="Cancelar"
                ></app-button>
              </div>
              <div class="w-[100%] h-[56px]">
                <app-button type="submit" color="primary" name="Aceptar"></app-button>
              </div>
            </div>
          </form>
        </div>
      </div>
  }
