@if(spinner()){
  <div class="flex justify-center w-full h-full items-center">
    <app-spinner></app-spinner>
  </div>
}@else {
  <!-- poster -->
  <app-poster-detail [imageBack]="movie()?.backdrop_path" [image]="'https://image.tmdb.org/t/p/w220_and_h330_face' + movie()?.poster_path"></app-poster-detail>

  <div class="mt-6">
    <app-title [title]="movie()?.original_title"></app-title>
  </div>

  <p class="mt-6 text-white">{{movie()?.overview}}</p>

  <div class="mt-10">
    <app-title style="font-size: 20px; font-weight: 500;" [title]="'Videos relacionados: ' + movieVideos()?.results?.length"></app-title>
  </div>

  <app-iframe-video-detail [videos]="movieVideos()"></app-iframe-video-detail>

}
